<%= @group.number  %>
<% @group.lessons.pluck(:date_on).uniq.each do |date| %>
  <%= link_to date, group_leader_lessons_path(:by_date => date) %>
<% end %>
<ul>
  <% @lessons.each do |lesson| %>
    <li><%= lesson.discipline.title %></li>
  <% end %>
</ul>
