<% content_for :page_title, content_tag(:h1, 'Заполнение журнала посещаемости') %>

<% if @faculties.present? %>
    <% @faculties.each do |faculty| %>
      <h3 class='margin-bottom-20'>
        <%= link_to education_department_filling_faculty_path(faculty.abbr) do %>
          <%= faculty.title %>
          (<%= faculty.abbr %>)
        <% end %>
      </h3>
    <% end %>
<% else %>
  <p class='text-danger'>Нет актуальной информации</p>
<% end %>
