<ul>
  <% @dates.each do |date| %>
    <li class='margin-bottom-10'>
      <%= link_to (l date, format: '%d %B %Y'),
        generate_xls_education_department_lecturer_presences_path(date: date),
        method: :post
        %>
    </li>
  <% end %>
</ul>
