<% if can? [:new, :create, :update], MissKind %>
  <%= link_to 'Добавить причину', new_education_department_miss_kind_path, class: 'btn btn-primary btn-sm' %>
<% end %>

<ul class="list">
  <% if @miss_kinds.any? %>
    <%= render @miss_kinds %>
  <% else %>
    <li class="list-item empty"><%= I18n.t("empty.#{controller_name}") %></li>
  <% end %>
</ul>
