<%= content_for :page_title do %>
  <h1 class="text-center">Группы факультета <%= @faculty %></h1>
<% end %>

<div class="group_list">
  <% @groups.each do |course, groups| %>
    <h3><%= course %> курс</h3>
      <ul class='list'>
        <% groups.each do |group| %>
          <li><%= link_to group, dean_group_path(group.number) %></li>
        <% end %>
      </ul>
  <% end %>
</div>
