<form action="/search">
  <input id="" type="text" name="q" placeholder='Поиск студента'>
  <input type="submit" value="Искать">
</form>

<%= render_navigation :context => :namespaces if user_signed_in? %>
