<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Электронный журнал посещаемости занятий</h1>
    <p>Вам была назначена роль <%= @permission.role_text %> для <%= @permission.context %></p>
    <p>Вы можете <%= 'войти' %> или <%= 'зарегистрироваться' %></p>
  </body>
</html>
