app:
  secret:       SECRET
  mail_from:    MAIL

errors:
  key:          KEY
  url:          http://errors.openteam.ru

postmark:
  api_key:      key

timetable:
  url:          URL

students:
  url:          URL

solr:
  url:          URL

sso:
 key:           KEY
 secret:        SECRET
 url:           URL
