app:
  domain:    .domain                             # delete the line in development
  secret:    SECRET
  from:      mail@mail.ma
  host:      hostname
  url:       url

devise:
  secret:    SECRET

messaging:
  url:       redis://host:6379/8

postmark:
  api_key:   123456

redis:
  url:       redis://redis.example.com:6379/12

statistic:
  url:       redis://127.0.0.1:6379/1            # redis server for statistics
  sock:      /tmp/redis.sock                     # connect to redis-server throught unix socket and use redis db[0]

session_store:
  url:       redis://host:6379/0/sessions

sso:
  url:       http://sso.tusur.ru/
  key:       KEY
  secret:    SECRET

profile:
  url:       http://profile.url

directory:
  url: 'https://directory.tusur.ru/'
