app:
  domain:    .domain                             #delete the line in development
  secret:    SECRET
  from:      mail@mail.ma
  host:      hostname

devise:
  secret:    SECRET

messaging:
  url:       redis://host:6379/8

postmark:
  api_key:   123456

redis:
  url:       redis://redis.example.com:7372/12

session_store:
  url:       redis://host:6379/0/sessions

sso:
  url:       http://sso.tusur.ru/
  key:       KEY
  secret:    SECRET
