<div class="table-responsive">
  <table class="table table-condensed table-disruptions">
    <thead>
      <tr>
        <td>Преподаватель / Дисциплина</td>
        <td>Дата</td>
      </tr>
    </thead>
    <tbody>
      <% @disruptions.each do |realize| %>
        <tr>
          <td>
            <%= realize.lesson.discipline.title %>
            <%= " (#{realize.lesson.kind_abbr})" %>
          </td>
          <td><%= I18n.l(realize.lesson.date_on) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @disruptions %>
</div>
