<table>
<% @group_leaders.each do |(group_number, group_leader, count)| %>
  <tr>
    <td><%= group_number %></td>
    <td><%= group_leader %><%= mail_to group_leader.email %></td>
    <td><%= count %></td>
  </tr>
<% end %>
</table>
