<div class="filters">
  <%#= date_filters %>
  <%= render :partial => 'search' %>
</div>


<% if @disruptions.any? %>
  <% @disruptions.each do |group| %>
    <% next unless group.results.any? %>
    <%= render :partial => 'disruption', :locals => { :group => group } %>
  <% end %>

  <%= paginate @disruptions %>
<% else %>
  <div class="empty">
    <%= I18n.t("empty.#{controller_name}") %>
  </div>
<% end %>
