<div class="filters">
  <%= render :partial => 'search' %>
</div>


<% if @disruptions.any? %>
  <% @disruptions.each do |faculty, realizes| %>
    <h4><%= faculty.abbr %></h4>

    <%= render :partial => 'disruption', :locals => { :realizes => realizes } %>
  <% end %>

<% else %>
  <div class="empty">
    <%= I18n.t("empty.#{controller_name}") %>
  </div>
<% end %>
