<%= render :partial => 'form' %>

<% if @results.any? %>
  <ul>
    <% @results.each do |student| %>
      <li><%= link_to student, student_path(student.secure_id) %></li>
    <% end %>
  </ul>
<% else %>
  <span>Ничего не найдено</span>
<% end %>
