@import 'compass/reset'
@import 'compass/css3'
@import 'compass/utilities'

html, body
  height: 100%

body
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 14px
  color: #222

h1
  font-size: 20px
  font-weight: 400
  margin: 15px 0

#wrapper
  min-height: 100%
  height: auto
  margin: 0 auto -75px
  padding: 0 0 35px

#footer
  background: #f2f2f2
  bottom: 0
  height: 35px
  position: relative
  width: 100%

  .copyright
    background: #005bae
    color: #fff
    font-size: 13px
    height: 35px
    line-height: 35px

  .feedback, .openteam
    a
      color: #fff
      text-decoration: underline

      &:hover
        text-decoration: none

  .feedback
    float: left

  .openteam
    float: right

.breadcrumbs
  margin: 20px 0

// Calendar -->
.calendar_wrapper
  float: right

.calendar_viewport
  +clearfix
  height: 250px
  overflow-y: scroll

.calendar
  +clearfix
  width: 224px

  .day_names
    +clearfix

    .day_name
      float: left
      height: 32px
      line-height: 32px
      text-align: center
      width: 32px

  .months
    +clearfix

    .month
      +clearfix

      .month_title
        background: #D6D5D3
        text-align: center
        padding: 7px 0

      .days
        +clearfix
        width: 224px

        .day
          border: #D5D5D5 1px solid
          float: left
          line-height: 28px
          height: 28px
          margin: 2px
          text-align: center
          width: 28px

          a
            display: block
            height: 28px
            position: relative
            width: 28px

            &:before
              content: ''
              display: block
              height: 6px
              position: absolute
              width: 6px

          &.empty
            border-color: #fff

          &.current
            border-color: #000

            a
              &:before
                background: #fff

          &.weekend
            color: #999999


          &.filled
            a
              color: #65B261

              &:before
                background: #65B261

          &.unfilled
            a
              color: #355CA9

              &:before
                background: #355CA9
// <-- Calendar


// Lists -->
.list
  margin: 20px 0

  .list-item
    line-height: 30px
    margin: 0 8px 0 0
    padding: 0 8px

    &.list-bordered
      border-top: 1px solid #d5d5d5

      &:last-child
        border-bottom: 1px solid #d5d5d5

    &.even
      background: #fff

    &.odd
      background: #f2f2f2

    .date
      color: #949494

    .role
      color: #9a9a9a

    .message
      margin: 0 0 0 45px

      .success, .failure
        font-weight: bold

      .success
        color: #00b362

      .failure
        color: #dc0000

    .actions
      margin: 0 -25px 0 0

      a
        color: #9a9a9a

// <-- Lists


// Permissions -->
.tab-sidebar, .tab-content
  float: left

.tab-sidebar
  width: 220px
  border-right: 1px solid #dedede

  ul
    margin: 0 -1px 0 0

  li
    margin: 3px 0

    a:hover
      +border-bottom-left-radius(2px)
      +border-top-left-radius(2px)
      color: #005582

    &.active
      +border-bottom-left-radius(2px)
      +border-top-left-radius(2px)
      border: 1px solid #dedede
      border-right-color: #fff

      a
        color: #000

.tab-content
  border-top: 1px solid #dedede
  height: 100%
  padding: 15px
  width: 920px

.form-permission
  .separator
    color: #555
    display: block
    font-size: 14px
    line-height: 14px
    position: relative
    text-align: center

    &:before, &:after
      display: block
      content: ''
      background-color: #ccc
      height: 1px
      position: absolute
      top: 8px

    &:before
      left: 15px
      width: 205px

    &:after
      right: 15px
      width: 205px

// <-- Permissions
