<div class='footer'>
  <div class='copyright'>
    <div class='container'>
      Разработка и дизайн <a href='http://tusur.ru/ru/informatization/subdivision/cvtir/'>OpenTeam</a>
    </div>
  </div>
</div>
