<div id='footer'>
  <div class='copyright'>
    <div class='container'>
      <div class="feedback">
        <a href="http://profile.tusur.ru/auth/auth/identity">Задать вопрос</a>
      </div>
      <div class='openteam'>
        Разработка и дизайн <a href='http://tusur.ru/ru/informatization/subdivision/cvtir/' target='_blank'>OpenTeam</a>
      </div>
    </div>
  </div>
</div>
