<ul class="list">
  <% if @syncs.any? %>
    <%= render @syncs %>
  <% else %>
    <li class="list-item empty"><%= I18n.t("empty.#{controller_name}") %></li>
  <% end %>
</ul>

<%= paginate @syncs %>
