<div class="footer">
  По всем вопросам пишите на <a href='mailto:tusur-attendance@openteam.ru'>tusur-attendance@openteam.ru</a><br/>
  или создавайте тикеты на <a href='https://github.com/openteam-tusur/attendance/issues'>https://github.com/openteam-tusur/attendance/issues</a>
</div>
