<!DOCTYPE html>
<html>
  <head>
    <title>Журнал посещаемости ТУСУР</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Keywords" content="посещаемость, журнал, ТУСУР, студенты">
    <meta name="Description" content="Журнал посещаемости студентов ТУСУР">
    <meta http-equiv="content-language" content="ru">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link href="http://attendance.tusur.ru/assets/public/application.css" media="all" rel="stylesheet" type="text/css" />
    <script src="http://attendance.tusur.ru/assets/public/application.js" type="text/javascript"></script>
  </head>
  <body>
    <div class='main_wrapper'>
      <div class="header">
        <a href="/" class="logo">Томский государственный университет систем управления и радиоэлектроники</a>
        <h1>Электронный журнал посещаемости студентов</h1>
      </div>

      <div class='content'>
        <p>Электронный журнал посещаемости студентов в данный момент недоступен, пожалуйста, повторите попытку позднее.</p>
      </div>

      <%= render :partial => 'layouts/footer' %>
    </div>
  </body>
</html>
